* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cutive Mono', monospace;
}

div.container {
    max-width: 100%;
    text-align: center;
    margin: 50px 50px 0 50px;
}

h1 {
    font-size: 48pt;
}


@media screen and (max-width: 400px) {

    h1 {
        font-size: 24pt;
    }
}
